{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} SignIn  {% endblock %}


{% block content %}

<div class="col-md-10">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Login</h1>
      <form action="" method="POST" autocomplete="off">
        {{ form| crispy}}
        <button input="submit" class="btn btn-info">Login</button>
      </form>
      <p>Register if you don't have an accounts <button type="button" class="btn btn-link">Link</button> </p>
    </div>
  </div>
</div>



{% endblock %}